.authorization__link {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;  
    text-decoration: none;                                                          
}

@media (max-width: 768px) {
    .authorization__link {
        margin-top: 20px;
    }
}