.popup__button-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .popup__button-text {
        font-size: 14px;
        line-height: 17px;
    }
}