.profile__name-edit {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
}

@media (max-width: 768px) {
.profile__name-edit {
    margin-bottom: 8px;
    align-self: center;    
}}
