.popup__button {
    margin-top: 17px;
    width: 358px;
    height: 50px;
    align-self: center;
    background-color: #000000;
    color: white;
    font-size: 18px;
    line-height: 1.22;
    border-radius: 2px;
    border: 0;
    margin-bottom: 37px;
}

.popup__button:valid:hover{
    opacity: 0.8;
    cursor: pointer;
}

@media (max-width: 768px) {
    .popup__button {
        width: 238px;
        margin-top: 13px;
        height: 46px;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 1.21;
    }
}