.authorization__button {
    width: 358px;
    height: 50px;
    border-radius: 2px;
    background: #FFF;
    margin-top: 186px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 768px) {
    .authorization__button{
        max-width: 260px;
        margin-top: 143px;
        height: 46px;
    }
}