.authorization__title {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .authorization__title {
        font-size: 20px;
        margin-bottom: 40px;
    }
}