.profile__occupation {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    max-width: 336px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 768px) {
.profile__occupation {
    align-self: center;
    font-size: 14px;
    line-height: 1.21;
    margin-bottom: 0;
    max-width: 200px;        
}
}