.authorization__container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 358px;
    flex-direction: column;
    position: relative;
    align-self: center;
    margin-top: 60px;
}

@media (max-width: 768px) {
    .authorization__container {
        max-width: 260px;
    }
}