body {

        font-family: 'Inter', sans-serif;
        margin: 0 auto;
        background-color: #000000;
        max-width: 1280px;
        text-rendering: optimizeLegibility;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;

}


@import url(./vendor/normalize.css);
@import url(./vendor/inter.css);
@import url(./blocks/root/root.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__close-icon/popup__close-icon.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__wrapper/popup__wrapper.css);
@import url(./blocks/popup/__image-block/popup__image-block.css);
@import url(./blocks/popup/__image-signature/popup__image-signature.css);
@import url(./blocks/popup/_theme/popup_theme_open-image.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__button/_type/popup__button_type_disabled.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/_type/popup__input-error_type_active.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__data-edit/profile__data-edit.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__name-edit/profile__name-edit.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__occupation/profile__occupation.css);
@import url(./blocks/profile/__add-button-wrap/profile__add-button-wrap.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__card/elements__card.css);
@import url(./blocks/elements/__card-image/elements__card-image.css);
@import url(./blocks/elements/__image/elements__image.css);
@import url(./blocks/elements/__description/elements__description.css);
@import url(./blocks/elements/__text/elements__text.css);
@import url(./blocks/elements/__icon/elements__icon.css);
@import url(./blocks/elements/__icon/_active/elements__icon_active.css);
@import url(./blocks/elements/__card-bucket/elements__card-bucket.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/__button-text/popup__button-text.css);
@import url(./blocks/profile/__edit-image/profile__edit-image.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/profile/__image_container/profile__image-container.css);
@import url(./blocks/profile/__image-change-button/profile__image-change-button.css);
@import url(./blocks/elements/__like-counter/elements__like-counter.css);
@import url(./blocks/popup/__title/_theme/popup__title_theme_delete-card.css);
@import url(./blocks/popup/__container/_theme/popup__container_theme_delete-card.css);
@import url(./blocks/popup/__button/_theme/popup__button_theme_change-image.css);
@import url(./blocks/elements/__card-bucket/_type/elements__card-bucket_type-disabled.css);
@import url(./blocks/authorization/__container/authorization__container.css);
@import url(./blocks/authorization/__button/authorization__buttons.css);
@import url(./blocks/authorization/__title/authorization__title.css);
@import url(./blocks/authorization/__input/authorization__input.css);
@import url(./blocks/authorization/__link/authorization__link.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__signout/header__signout.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/popup/__container/_theme/popup__container_theme_infoTooltip.css);
@import url(./blocks/popup/__info-message/popup__info-message.css);
