.profile__title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    color: #FFFFFF;
    margin-right: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 400px;
}

@media (max-width: 768px) {
.profile__title {
    font-size: 27px;
    line-height: 1.22;
    margin-right: 10px;
    max-width: 188.5px;
    margin-left: 65px;
}}
