.profile__edit-button {
    width: 24px;
    height: 24px;
    border: 1px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    align-self: flex-end;
    margin-bottom: 10px;
}

.profile__edit-button:hover {
   opacity: 0.6;
   cursor: pointer;
}

@media (max-width: 768px) {
.profile__edit-button { 
    width: 18px;
    height: 18px;
    margin-right: 38px;
    margin-bottom: 5px;
    }
}